@(patient: model.Patient)

@main("Patient Report for " + patient.getFirstName() + " " + patient.getLastName()) {

    @header()

    <div class="jumbotron">
        <h3>Patient Summary - @patient.getFirstName() @patient.getLastName()</h3>

        <table class="table table-bordered">
            <tr>
                <td>Medicare Number</td>
                <td>@patient.getMedicareNumber()</td>
            </tr>
            <tr>
                <td>Hospital Card Number</td>
                <td>@patient.getHospitalCardNumber()</td>
            </tr>
        </table>
        
        @room(patient.getRoom())
        
    </div>
}