@(payrolls: List[model.Payroll])

<table class="table table-bordered">
    <tr>
    	<td>payroll_id</td>
    	<td>title</td>
    	<td>pay_type</td>
    	<td>base_rate</td>
    	<td>seniority_bonus_amount</td>
    	<td>seniority_bonus_multiplier</td>
    	<td>overtime_multiplier</td>
    </tr>
    @for(payroll <- payrolls) {
	    <tr>
		    <td>@payroll.getPayroll_id</td>
		    <td>@payroll.getTitle</td>
		    <td>@payroll.getPay_type</td>
		    <td>@payroll.getBase_rate</td>
		    <td>@payroll.getSeniority_bonus_amount</td>
		    <td>@payroll.getSeniority_bonus_multiplier</td>
		    <td>@payroll.getOvertime_multiplier</td>
	    </tr>
    }
</table>

