@(session: model.SessionAuth.SessionInfo)(schedule: List[model.Schedule])

@main("View Schedule") {
}{

    @header(session)

    <h1>Here is your schedule</h1>
    
    <table class="table table-bordered">
    <thead>
        <tr>
            <th>Date</th>
            <th>Start Time</th>
            <th>End Time</th>
        </tr>
    </thead>
    @for(s <- schedule) {
        <tr>
            <td>@s.getDate()</td>
            <td>@s.getStartTime()</td>
            <td>@s.getEndTime()</td>
        </tr>
    }
    </table>
}{
}