@(session: model.SessionAuth.SessionInfo)(admin: List[model.Service])
@main("hello"){
}{	

	@header(session)
	<h1> Services Page </h1>
	<table class ="table table-bordered">
	<tr> 
	<td class="success">Service Int </td>   <td class="success"> Name </td> <td class="success"> cost</td>
	<td class="success">unit  </td> <td class="success">isActive</td>
	</tr>
	
 @for(services <- admin){
	<tr> 
	<td>@services.getId() </td>   <td>@services.getName() </td> <td>@services.getCost() </td> 
	<td> </td>     <td> </td>  
	</tr>	
	}
	</table>
	
	
}{
	


}