@(session: model.SessionAuth.SessionInfo)(totalCosts: Double,
	currentTotalCosts :Double,costPerMonth: List[Double],totalSupply:List[model.CostReport],
	monthUsage:List[model.CostReport],doctorAllServices:List[model.DoctorReport],
	doctorAllSurgeries:List[model.DoctorReport])
	)
@main("hello"){
	
}{
@header(session)
	<h1 class="text-center text-success"> Stats Cost Page  and Doctor Info</h1>
	<h2 class="text-center text-success"> Total Cost Supplies All Time <u>$ @totalCosts</u></h2>
	<h2 class="text-center text-success"> Total Cost Current Supplies <u>$ @currentTotalCosts</u></h2>
	<br>
	<table class ="table table-bordered">
	<tr> 
	<td class="success">Month </td>   <td class="success"> Supplies Cost </td> 
	</tr>
	
	
 	<tr>
 	<td> January</td> <td>@costPerMonth(0) </td>
 	</tr>
 	<tr>
 	<td> February</td> <td>@costPerMonth(1) </td>
 	</tr>
 	<tr>
 	<td> March</td> <td>@costPerMonth(2) </td>
 	</tr>
 	<tr>
 	<td> April</td> <td>@costPerMonth(3) </td>
 	</tr>
 	<tr>
 	<td> May</td> <td>@costPerMonth(4) </td>
 	</tr>
 	<tr>
 	<td> June</td> <td>@costPerMonth(5) </td>
 	</tr>
 	<tr>
 	<td> July</td> <td>@costPerMonth(6) </td>
 	</tr>
	<tr>
 	<td> August </td> <td>@costPerMonth(7) </td>
 	</tr>
	
	</table>
	<h2> Total Supply Usage</h2>
	<table class ="table table-bordered">
	<tr> 
	<td class="success">Supply </td>   <td class="success"> Usage </td> 
	</tr>
	@for(supply <-totalSupply){
		<tr>
		<td> @supply.getSupply()</td>   <td> @supply.getUsage()</td>
		</tr>
	}
	
	</table>
	<h2> Monthly Usage</h2>
	<table class ="table table-bordered">
	<tr> 
	<td class="success">Month </td>   <td class="success"> Supply </td> 
	<td class="success">Usage </td> 
	</tr>
	
	
 	<tr>
 	<td> January</td> <td>@monthUsage(0).getSupply() </td>  <td>@monthUsage(0).getUsage() </td>
 	</tr>
 	<tr>
 	<td> February</td> <td>@monthUsage(1).getSupply() </td> <td>@monthUsage(1).getUsage() </td>
 	</tr>
 	<tr>
 	<td> March</td> <td>@monthUsage(2).getSupply() </td>  <td>@monthUsage(2).getUsage() </td>
 	</tr>
 	<tr>
 	<td> April</td> <td>@monthUsage(3).getSupply() </td>   <td>@monthUsage(3).getUsage() </td>
 	</tr>
 	<tr>
 	<td> May</td> <td>@monthUsage(4).getSupply() </td>		<td>@monthUsage(4).getUsage() </td>
 	</tr>
 	<tr>
 	<td> June</td> <td>@monthUsage(5).getSupply() </td>    <td>@monthUsage(5).getUsage() </td>
 	</tr>
 	<tr>
 	<td> July</td> <td>@monthUsage(6).getSupply()</td>		<td>@monthUsage(6).getUsage() </td>
 	</tr>
	<tr>
 	<td> August </td> <td>@monthUsage(7).getSupply() </td>	<td>@monthUsage(7).getUsage() </td>
 	</tr>
	
	</table>
	<h2> Doctor All Services ordered by doctor	</h2>
	<table  class="table table-bordered">
	<tr>  <td class="success"> Employee_Id</td> <td class="success"> FirstName</td> <td class="success"> LastName</td>
	<td class="success"> service_Id</td> <td class="success"> service Name </td> <td class="success"> Number of Times Performed</td>
	</tr>
	@for(as <-doctorAllServices){
		<tr>
		<td> @as.getEmployeeId()</td>   <td> @as.getFirstName()</td> <td> @as.getLastName() </td> 
		<td>@as.getServiceId() </td> <td> @as.getServiceName()</td> <td>@as.getCount </td>
		</tr>
	}
	
	</table>
	
	<h2> Doctor All Surgeires ordered by doctor	</h2>
	<table class="table table-bordered">
	<tr>  <td class="success"> Employee_Id</td> <td class="success"> FirstName</td> <td class="success"> LastName</td>
	<td class="success"> service_Id</td> <td class="success"> service Name </td> <td class="success"> Number of Times Performed</td>
	</tr>
	@for(as <-doctorAllSurgeries){
		<tr>
		<td> @as.getEmployeeId()</td>   <td> @as.getFirstName()</td> <td> @as.getLastName() </td> 
		<td>@as.getServiceId() </td> <td> @as.getServiceName()</td> <td>@as.getCount </td>
		</tr>
	}
	
	</table>
}{
}
